<!-- views/partials/header.hbs -->
<header>
  <h1>My Application</h1>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/profile">Profile</a></li>
      <li><a href="/users">Users</a></li>
    </ul>
  </nav>
</header>